@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    background: linear-gradient(to bottom, #064e3b, #000000 70%);

    color-scheme: dark;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.album-list::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.album-list::-webkit-scrollbar-track {
    background: #2c2f36;
    border-radius: 10px;
}

.album-list::-webkit-scrollbar-thumb {
    background: #4caf50;
    border-radius: 10px;
    border: 2px solid #2c2f36;
}

.album-list::-webkit-scrollbar-thumb:hover {
    background: #45a049;
}

.album-list::-webkit-scrollbar-thumb:active {
    background: #388e3c;
}
